*{
  margin: 0;
  padding: 0;
}
.headerMobile{
display:none;
}
@font-face {
  font-family: "Rounded_Elegance";
  src: url('../assests/Rounded_Elegance\ .ttf');
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: "_H_HelveticaNeueInterface_0";
  src: url('../assests/_H_HelveticaNeueInterface_0.ttf');
  font-weight:normal;
  font-style: normal;
} 
h1{
  font-family: Rounded_Elegance;
}
h2,
p{
  font-family: _H_HelveticaNeueInterface_0;
  color: white;
  font-size: 28px;
}
h4{
  font-size: 20px;
  color: white;
  width: 28%;
  text-align: center;
}
.containerCover{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title{
  font-family: Rounded_Elegance;
  /* color:#572A99; */
  width: 100%;
}
.inicialButton{
transition: background-color .5s ease;
/*   background:#572A99; */
 color: white;
 font-family: Rounded_Elegance;
 width: 55%;
 border-radius: 29px;
 font-size: 27px;
 border: none;
 cursor: pointer;
 padding: 3%;
 margin: 34% 0% 0% 0%;
}

.profileButton{
  /* background: #572A99; */
  color: white;
  font-family: Rounded_Elegance;
  width: 180%;
  border-radius: 29px;
  font-size: 27px;
  border: none;
  cursor: pointer;
  padding: 10%;
  margin: 15% 0% 0% -31%;
}
.header-text{
  width: 45%;
  height: 85%;
}
.main{
  display: flex;
  flex-direction: row;    
  align-items: center;
  margin: 3% 0% 0% 3%;

}
.mainEnt{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0% 0% 0% 0%;
  height: 100%;
}
.adult-profile{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.child-profile{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video{
border: none;
}
@media screen and (max-width:600px){
.headerMobile{
  display: block;
  width: 59%;
  height: 14vh;
  margin: 6% 0% 0% 21%;
}
.header-container{
  background: #72BAEC;
  width: 100%;
  height: 22vh;
  padding: 1%;
}
.header{
  display:none;
}
.video{
  border: none;
  width: 89%;
  margin: -12% 0% 0% -28%;
  height: 48%;
}
.containerCover{
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.title{
max-width: 100%;
font-size: 19px;
margin-top: -4%;
}
.inicialButton{
transition: background-color .5s ease;
color: white;
width: 78%;
border-radius: 29px;
font-size: 25px;
border: none;
padding: 5%;
margin: 87% 0% 0% 7%;
}
footer{
display: none;
}
.profileButton{
  color: white;
  font-family: Rounded_Elegance;
  width: 180%;
  border-radius: 29px;
  font-size: 27px;
  border: none;
  cursor: pointer;
  padding: 10%;
  margin: 15% 0% 0% -31%;
}
.header-text{
width: 84%;
height: 34%;
margin: -67% -58% 15% 7%;
}
.main{
display: flex;
flex-direction: row;
align-items: center;
margin: 0% 0% 0% 1%;
height: 100%;
width: 100%;

}
.mainEnt{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0% 0% 0% 3%;
  height: 100%;
}
.adult-profile{
  width: 88%;
  height: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.child-profile{
  width: 88%;
  height: 54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-family: Rounded_Elegance;
}
h2,
p{
  font-family: _H_HelveticaNeueInterface_0;
  color: white;
  font-size: 18px;
  width: 90%;
  margin: 2%;
}
h4{
  font-size: 18px;
  color: black;
  width: 45%;
}
}
