* {
  margin: 0;
  padding: 0;
}

.questionContainer{
  background: #B798C6;
  
}

.titleTrivia{
  background-color: #64259D;
  color: #FFFFFF;  
}
.question{
  border:#B798C6 1px solid;
}
.banner{
  width: 1299px;
}