.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
 }
 .contenidoHome {
    display: flex;
    flex-direction: row;
    margin: 1% 0% 0% 0%;
    width: 100%;
 }
 .contenedorUno {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 11%;
 }
 .texto {
     font-size: 95%;
 }
 .textoTitulo {
     font-family: 'Rounded_Elegance';
     color: #64259D;
     font-size: 200%;
 }
 .Buho {
    height: 43%;
 }
 .tituloSeccion {
     /* background-color: #64259D; */
     border-radius: 15px;
     width: 300px;
     height: 100px;
     font-family: 'Rounded_Elegance';
     color: #FFFFFF;
     font-size: 30px;
     text-align: center;
     padding: 30px;
 }
 .tituloSeccionEspecial {
     /* background-color: #64259D; */
     border-radius: 15px;
     width: 300px;
     height: 100px;
     font-family: 'Rounded_Elegance';
     color: #FFFFFF;
     font-size: 30px;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     text-align: center;
     padding: 26px;
 }
 .accordion {
     /* background: #72BAEC; */
     font-family: 'Rounded_Elegance';
     color: #FFFFFF;
     width: 300px;
     height: 50px;
     font-size: 25px;
     border: none;
     transition: 0.4s;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 .active, .accordion:hover {
     background-color: #A4D8F6; 
 }
 .panel {
     /* background-color: #B798C6; */
     color: #FFFFFF;
     width: 300px;
     /* height: 100px; --> lo comenté para que el height sea flexible */
     text-align: center;
     font-size: 16px;
     padding: 20px;
 }
 .contenedorDos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0% 0% 11%;
 }
 .jugar {
    width: 400%;
    height: 200%;
    border-radius: 48px;
    color: #FFFFFF;
    border: none;
    margin: 14% 0% 0% -169%;
    font-size: 25px;
 }
 @media screen and (max-width:600px){
    .home {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        flex-wrap: wrap;
     }
     .contenidoHome {
        display: flex;
        flex-direction: row;
        margin: 1% 0% 0% 0%;
        width: 100%;
     }
     .contenedorUno {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 79% 0% 0% 8%;
        width: 100%;
        z-index: 2;
     }
     .texto {
         font-size: 95%;
     }
     .textoTitulo {
         font-family: 'Rounded_Elegance';
         color: #64259D;
         font-size: 200%;
     }
     .Buho {
        height: 43%;
        display:none;
     }
     .tituloSeccion {
display: none;
     }
     .tituloSeccionEspecial {
         /* background-color: #64259D; */
         border-radius: 15px;
         width: 300px;
         height: 100px;
         font-family: 'Rounded_Elegance';
         color: #FFFFFF;
         font-size: 30px;
         text-align: center;
         padding: 26px;
     }
     .accordion {
         /* background: #72BAEC; */
         font-family: 'Rounded_Elegance';
         color: #FFFFFF;
         width: 300px;
         height: 50px;
         font-size: 25px;
         border: none;
         transition: 0.4s;
         text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     }
     .active, .accordion:hover {
         background-color: #A4D8F6; 
     }
     .panel {
         /* background-color: #B798C6; */
         color: #FFFFFF;
         width: 300px;
         /* height: 100px; --> lo comenté para que el height sea flexible */
         text-align: center;
         font-size: 16px;
         padding: 20px;
     }
     .contenedorDos {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 4% 15% 0% -76%;
        width: 100%;
    }
     .jugar {
        width: 414%;
        height: 158%;
        border-radius: 48px;
        color: #FFFFFF;
        border: none;
        margin: 27% 0% 0% 47%;
        font-size: 25px;
     }
 }