.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: white;
  min-height: 120vh;
}

.heading {
 /*  background-color: #64259D; */
  width: 82vw;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}

.contentWrapper {
  /* background-color: #B798C6; */
  width: 82vw;
  min-height: 120vh;
  padding-top: 3rem;
  margin-bottom: 2rem;
}

h2 {
  margin-left: 5rem;
}

.content {
  width: 80vw;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 1rem;
  clear: both;
  float: left;
}

.content > p {
  width: 50%;
  margin-left: 1rem;
  margin-top: 2rem;
}

.module-image-container {
  width: 20vw;
  float: right;
}

.module-image-container > img {
  width: 100%;
}
@media screen and (max-width:600px){
  .img-modules{
    display: none;
  }
  .contentWrapper{
    width: 100vw;
    min-height: 129vh;
    padding-top: 2rem;
    margin-bottom: 1rem;
  }
  .content {
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: inherit;
    margin: 1rem;
    clear: both;
    float: left;
}
.content > p {
  width: 93%;
  margin-left: 1rem;
  margin-top: 2rem;
}
.heading {
  width: 100vw;
  padding: 2rem;
  text-align: center;
  margin: 0;
}

}