.jigsaw{
  text-align: center;
  display: flex;
  flex-direction: column;
  }
  
  .jigsaw__solved-board{
    position: relative;
    background-size: cover;
  }
  
   .jigsaw__solved-board:before{
    content: '';
    background-color: rgba(255, 255, 255, 0.6);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .jigsaw__solved-board{
    width: 538px;
    height: 379px;
    list-style-type: none;
    padding: 0;
    font-size: 0;
    border: 1px solid #ffd4cb;
    border-width: 1px 0 0 1px;
    margin: -51% 0% 23% 40%;
  }
  .jigsaw__shuffled-board{
    margin: 2% 0% 10% 1%;
    list-style-type: none;
    padding: 0;
    font-size: 0;
    width: 36%;
    height: 93vh;
  }
 .jigsaw li{
  position: relative;
  text-align: left;
  display: inline-block;
  width: 177px;
  height: 119px;
  border: 1px solid #ffd4cb;
  border-width: 0 1px 1px 0;
  }
  
  .jigsaw li:empty:hover:before{
    opacity: 1;
  } 
  
  .jigsaw li img{
    width: 177px;
    height: 129px;
    position: absolute;
    cursor: grab;
    transition: transform 200ms ease, box-shadow 200ms ease;
    margin: -2% 0% 0% 0%;
  }
  
  .jigsaw li img:hover{
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }  