.board {
  /* background-color: #72b9ec3b; */
  border: 2px solid black;
  width: 64vw;
  min-height: 70vh;
  margin: 2rem auto;
}

.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 3rem auto;
  margin-right: 2.5rem;
  transition: all .5s ease-in-out;
}

.card {
  width: 10vw;
  height: 10vw;
  margin: 1rem;
}

.card:hover {
  transform: scale(1.1);
}

.front {
  width: 10vw;
  height: 10vw;
  background-color:#64259D; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  width: 10vw;
  height: 10vw;
  background-color: #72BAEC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memorize-image-container {
  width: 60%;
}

.memorize-image-container > img {
  width: 100%;
}

.tries {
  margin-left: 1rem;
}

.memorize-reset-btn {
  /* background-color: white; */
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}
@media screen and (max-width:600px){
  .board {
    border: 2px solid black;
    width: 91vw;
    min-height: 50vh;
    margin: 2rem auto;
  }
  .card {
    width: 20vw;
    height: 16vw;
    margin: 1rem;
  }
  
  .front {
    width: 19vw;
    height: 19vw;
    background-color: #64259D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
  }
  .back-btn {
    width: 39%;}
}