.board {
  background-color: #72BAEC;
  border: 2px solid black;
  width: 70vw;
  min-height: 50vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 2rem auto;
}

.card {
  width: 20vw;
  height: 20vw;
  margin: 1rem;
}

.front {
  width: 20vw;
  height: 20vw;
  background-color: #64259D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  width: 20vw;
  height: 20vw;
  background-color: #B798C6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 60%;
}

.ReactFlipCard {
  width: 100%;
  height: 100%;
}